/* DOCUMENTO CSS */ 
* {
margin: 0; 
padding: 0; 
box-sizing: border-box;
}
body {
background: linear-gradient(to bottom, #FFDF64 10%, #EDC52D);
background-attachment: fixed;
font-family: Century Gothic;
height: 100%;
}
header {
	background-color:#0DBE8A;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}
main {
	display: flex;
	justify-content: center;
	padding-top:80px;
}
main form {
width: 1000;
padding: 40px;
box-shadow: 0 10px 15px #445484;
background-color:#6AADEB ;
border-radius: 10px;
border: 1px colid #ffffff33;
h2 
}
main form h1{
	text-align: center;
	color: #011222;
}
main form h2{
text-align: center; 
margin-bottom: 20px; 
font-size: 20px; 
color: #053A6B
}
main form h3{
font-size: 25px; 
margin-bottom: 20px; 
}
main form label
color: #322332; 
font-weight: 700;
main form input, select {
height: 30px; 
border-radius: 5px; 
border-color: #16A085; 
margin: 5px 0 10px 0; 
font-size: 20px; 
}
main form textarea {
border-radius: 5px; 
font-size: 20px; margin: 5px 0 10px 0;
}
main form input:focus, select:focus {
	background-color: #FFF88A ;
}
main form hr {
	margin: 20px;

}
main form input [type=radio] {
	width: 20px;
	margin-left: 10px;
}
main form .categoria {
	position: relative;
	top: -10px;
}
main form input [type=submit]
{
	width: 190px;
	font-weight: 900; 
	height: 50px;  
	cursor: pointer; 
	margin-left: 37%; 
	background-image: linear-gradient(120deg,#F1E206 0%, #0539D9 100%);
}
footer {
background-color:#0BA87A; 
height: 100px; 
padding-top: 5px; 
text-align: center; 
display: flex; 
justify-content: left; 
}
footer p {
	font-size: s0;
	font-family: century gothic;
	text-align: center;
  margin: 40px;
  color: #585858;
}
footer figure { 
width: 70px; 
height: 50px; 
margin: 20px 40px 30px 100px; 
padding: 50; 
}